extends layout


block content
  script(src="/javascripts/mic/mic.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

  a(class='buttonc' onclick='start()') Start Recording  
  a(class='buttonc' onclick='stop()') Stop Recording  

  audio(id='recordedAudio')


  a(class='buttonc' onclick='sendData()') Send To Server  
  div#toast Toast-Text

